package components

templ TextAreaToSpeech() {
	<div class="mt-6">
		<label for="text" class="block pl-4 text-sm font-bold leading-6 text-gray-900">Text to Speech</label>
		<textarea name="text" id="text" class="block w-full rounded-md border-0 mt-1 pb-8 py-1.5 pl-4 pr-4 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Gegagedigedagedago..."></textarea>
	</div>
}
